.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Arial", sans-serif;
}

.logo svg {
  height: auto;
  display: block;
}

.logo--small svg {
  width: 100px;
}

.logo--medium svg {
  width: 120px;
}

.logo--large svg {
  width: 200px;
}
